#### Database and SQLAlchemy

In this blog, I will explore the use of programs with data, specifically focusing on databases. The SQLite Database will be used to demonstrate how programs can be used with data. Debugging will also be used to examine the objects created in the code.

The College Board discusses several ideas related to

- the use of filter systems for finding information and patterns.
- data management through classification and storage in tables
- programming, including the iterative and interactive processing of information
- gaining insights and knowledge from digitally represented information

Other topics covered in this post include

- PBL
- databases
- iterative programming Iterative programming refers to the repetition of a sequence of instructions until a specific end result is achieved.
- OOP: programming model that organizes software design around objects, rather than functions and logic.
- SQL: language used for programming, managing, and structuring data.

Creation of Flask and SQLAlchemy Objects

- I've seen the creation of Flask and SQLAlchemy objects in different programming scenarios. These objects are necessary in web development frameworks like Flask.

Flask App Object

- The Flask app object is an important component of the Flask framework. It represents the application and provides different methods and attributes for managing and configuring applications. It enables developers to define routes and register blueprints, which are groups of routes that can be used to organize the functionality within the application's.

- I have personally seen the use of Flask app objects in creating APIs during trimesters 1 and 2 like the StockAPI. We used these objects to register new blueprints, which helped us create our API that connected the front-end and back-end of our application.

SQLAlchemy DB Object

- We also used the SQLAlchemy DB object to create our former database, mine being the stock database. When we assigned the SQLAlchemy object to the database object, we registered our database, enabling the creation of the SQLite data table and the database that contained all the data necessary. The SQLAlchemy DB object is a powerful tool for working with databases, providing a high-level interface for interacting with databases and facilitating the creation of complex database-driven applications.

In [4]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

# create a connection to your SQL database
engine = create_engine('sqlite:///mydatabase.db')

# get input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# calculate tangent using NumPy
result = np.tan([num1, num2])

result_df = pd.DataFrame(result.reshape(1, 2), columns=['tangent of num1', 'tangent of num2'])
result_df.to_sql('myresulttable', engine, if_exists='append', index=False)

conn = sqlite3.connect('mydatabase.db')

# creates cursor object
cur = conn.cursor()

cur.execute("SELECT [tangent of num1], [tangent of num2] FROM myresulttable")
 
rows = cur.fetchall()

print("Tangent Results\n")
print("{:<20s}{:<20s}".format("Tangent of num1", "Tangent of num2"))
print("-" * 40)

for row in rows:
    print("{:<20.3f}{:<20.3f}".format(row[0], row[1]))

# closes the connection
conn.close()

Tangent Results

Tangent of num1     Tangent of num2
----------------------------------------
-0.648              -9.397
1.831               1.831
-72.946             0.636
3.497               0.688
-0.587              0.277
1.403               3.386
1.831               -0.431
1.831               1.831
1.098               -3.116
-15.062             -0.330
-15.062             -0.485
15.062              0.485
-0.093              0.736
-1.498              3.679
1.588               -1.267
1.686               -45.183
-0.070              1.063
-1.498              0.687
-0.649              2.535

In [4]:
# create a connection to your SQL database
engine = create_engine('sqlite:///mydatabase.db')

# create a new table in the database
engine.execute("""
    CREATE TABLE IF NOT EXISTS myresulttable (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        num1 FLOAT NOT NULL,
        num2 FLOAT NOT NULL,
        result1 FLOAT NOT NULL,
        result2 FLOAT NOT NULL
    )
""")

# get input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# calculate the tangent using NumPy
result = np.tan([num1, num2])

# insert the results into the new table
with engine.connect() as conn:
    conn.execute("""
        INSERT INTO myresulttable (num1, num2, result1, result2)
        VALUES (?, ?, ?, ?)
    """, num1, num2, result[0], result[1])

AttributeError: 'Engine' object has no attribute 'execute'

In [1]:
# create a connection to your SQLite database
conn = sqlite3.connect('mydatabase.db')


cur = conn.cursor()
cur.execute("SELECT * FROM myresulttable")

rows = cur.fetchall()


print("{:<5s}{:<10s}{:<10s}{:<10s}{:<10s}".format("ID", "num1", "num2", "result1", "result2"))
print("-" * 45)

for row in rows:
    print("{:<5d}{:<10.3f}{:<10.3f}{:<10.3f}{:<10.3f}".format(row[0], row[1], row[2], row[3], row[4]))

record_id = int(input("Enter the ID of the record you want to read: "))

cur.execute("SELECT * FROM myresulttable WHERE id=?", (record_id,))
row = cur.fetchone()

if row:
    print("{:<5s}{:<10s}{:<10s}{:<10s}{:<10s}".format("ID", "num1", "num2", "result1", "result2"))
    print("-" * 45)
    print("{:<5d}{:<10.3f}{:<10.3f}{:<10.3f}{:<10.3f}".format(row[0], row[1], row[2], row[3], row[4]))
else:
    print("Record not found")

NameError: name 'sqlite3' is not defined

In [7]:
# create a connection to your SQLite database
conn = sqlite3.connect('mydatabase.db')

# create a cursor object
cur = conn.cursor()

# update a specific record in the table
record_id = int(input("Enter the ID of the record you want to update: "))
new_num1 = float(input("Enter the new value for num1: "))
new_num2 = float(input("Enter the new value for num2: "))

cur.execute("UPDATE myresulttable SET num1=?, num2=? WHERE id=?", (new_num1, new_num2, record_id))
conn.commit()

if cur.rowcount == 1:
    print("Record updated successfully")
else:
    print("Record not found")

OperationalError: no such column: num1